<div ng-controller="Step2Controller">
    <div class="row">
        <div class="col-md-3">
            <a href="#/{{previous}}" class="{{statePrev}} btn btn-primary">← Предишна</a>
        </div>
        <div class="col-md-6">
            <div class="progress topMargin progress-striped active">
                <div class="progress-bar" style="width: {{step}};"></div>
            </div>
        </div>
        <div class="col-md-3">
            <a href="#/{{next}}" class="{{stateNext}} btn btn-primary pull-right">Следваща →</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Поръчка</legend>
                    <div class="form-group">
                        <label for="inputItem" class="col-lg-2  control-label">Артикул</label>
                        <div class="col-lg-10">
                            <select class="form-control" id="inputItem" ng-model="item" ng-options="singleitem.name for singleitem in items">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputQuantity" class="col-lg-2 control-label">Количество</label>
                        <div class="col-lg-10">
                            <input type="number" class="form-control" id="inputQuantity" ng-model="quantity" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label"></label>
                        <div class="col-lg-10">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="kg" ng-model="measure">
                                    Килограм/и
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="ton" ng-model="measure">
                                    Тон/а
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label">Коментар</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="3" id="textArea" ng-model="comment"></textarea>
                            <span class="help-block">Ако имате допълнителни въпроси или коментари моля оставете ги тук.</span>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="col-md-6">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Контакти за обратна връзка</legend>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2  control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="email" class="form-control" ng-model="email" id="inputEmail" placeholder="jhon@abv.com" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPhone" class="col-lg-2 control-label">Телефон</label>
                        <div class="col-lg-10">
                            <input type="number" id="inputPhone" class="form-control" ng-model="phone" placeholder="+359 888 555 666" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDate" class="col-lg-2 control-label">Дата за доставка</label>
                        <div class="col-lg-10">
                            <div id="deliveryData">
                                <datepicker ng-model="dt"vng-change="dateChanged()" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
                            </div>
                            <div id="inputDate" ng-model="date"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputTime" class="col-lg-2 control-label">Час за доставка</label>
                        <div class="col-lg-10">
                           <timepicker ng-model="mytime" ng-change="timeChanged()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <a href="#/{{next}}" class="btn btn-primary">Преглед на заявката</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
