<div class="row">

    <div class="col-md-12" ng-controller="ContactsController">
        <div id="map_canvas"></div>
    </div>

</div>

<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <div>
            <h3>Контакти</h3>
            <h4>Гримит ООД - Цецо Бетона</h4>
            <p>
                <strong>
                    Телефон:
                </strong>0888 124 124
            </p>
            <p>
                <strong>
                    Факс:
                </strong>+41232 23423
            </p>
            <p>
                <strong>
                    Поща:
                </strong>wewe@asd.cd
            </p>
            <p>
                <strong>
                    Адрес:
                </strong>Върбишки проход 444
            </p>
        </div>
    </div>
    <div class="col-md-6" ng-controller="ContactsController">
        <h3></h3>
        <div class="loading-spiner-holder" data-loading><div class="loading-spiner"><img src="../img/loading.gif" /></div></div>
        
        <form class="form-horizontal loading-hide" ng-submit="sendMail()">
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Поща</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="email">
                    <span class="help-block">Моля оставете валидна електронна поща на която да получите отговор.</span>
                </div>
            </div>

            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Съобщение</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="textArea" ng-model="textArea"></textarea>
                </div>
            </div>

          <!--  <div class="form-group">
                <label class="col-lg-2 control-label">Radios</label>
                <div class="col-lg-10">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                            Option one is this
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            Option two can be something else
                        </label>
                    </div>
                </div>
            </div>-->

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <div data-recaptcha id="recaptch-container"></div>
                    <span class="help-block">Напишете това което виждате на картинката.</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Изпрати</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="sendMailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Успешно изпратено съобщение</h4>
            </div>
            <div class="modal-body">
                <p>Екипът на БЕТМАКС ще отговори в най-кратък срок.</p>
                <p>Благодарим ви</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Затвори</button>
            </div>
        </div>
    </div>
</div>