<div class="row">

    <div class="col-md-12" ng-controller="ContactsController">
        <div id="map_canvas"></div>
    </div>

</div>

<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <div>
            <h3>Контакти</h3>
            <h4>Гримит ООД - Цецо Бетона</h4>
            <p>
                <strong>
                    Телефон:
                </strong>0888 124 124
            </p>
            <p>
                <strong>
                    Факс:
                </strong>+41232 23423
            </p>
            <p>
                <strong>
                    Поща:
                </strong>wewe@asd.cd
            </p>
            <p>
                <strong>
                    Адрес:
                </strong>Върбишки проход 444
            </p>
        </div>
    </div>
    <div class="col-md-6" ng-controller="ContactsController">
        <h3></h3>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>

            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Textarea</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="textArea"></textarea>
                    <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Radios</label>
                <div class="col-lg-10">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                            Option one is this
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            Option two can be something else
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <div recaptcha id="recaptch-container"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
