<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div carusel></div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-center">
        <img class="img-circle" data-src="holder.js/140x140">
        <h2>Наем на Механизация</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
        <p><a class="btn" href="#/catalog/pompi">Виж още &raquo;</a></p>
    </div>
    <!-- /.span4 -->
    <div class="col-md-4 text-center">
        <img class="img-circle" data-src="holder.js/140x140">
        <h2>Доставка на бетон</h2>
        <p>Доставка се извършва при поръчка на бетон не по-малко от 5 м³. За по малки количества транспортът се заплаща отделно.</p>
        <p><a class="btn" href="#/contacts">Направете запитване  &raquo;</a></p>
    </div>
    <!-- /.span4 -->
    <div class="col-md-4 text-center">
        <img class="img-circle" data-src="holder.js/140x140">
        <h2>Изливане на плочи</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn" href="#/contacts">Направете запитване &raquo;</a></p>
    </div>
</div>
